body {
    background: rgb(167, 167, 167);
}
#container {
    width: 80%;
    /* height: 700px; */
    border: solid 2px #262626;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    padding: 6px 10px;
    color: whitesmoke;
}

.editar {
    background-color: rgb(44, 151, 44);
}
.editar:hover {
    background-color: rgb(159, 196, 27);
}

.delete:hover {
    background-color: rgb(196, 36, 36);
}

.delete {
    background-color: brown;
}

.post {
    width: 70%;
    padding: 15px;
    border: solid 2px black;
    box-sizing: border-box;
    background-color: rgb(228, 227, 226);
    margin: 10px auto;
}

h2 a {
    color: #262626;
}

div h1 {
    text-align: center;
}

            
#voltar {
    color: whitesmoke;
    font-weight: bold;
    background-color: #262626;
}


input {
    width: 450px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    box-shadow: #262626 1px 0px 4px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    width: 450px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

button {
    width: 450px;
    height: 40px;
    background-color: #3d6cee;
    border: none;
    font-weight: bolder;
    color: whitesmoke;
}

button:hover {
    background-color: #305bd3;
    cursor: pointer;
}

.botao {
    width: 250px;

}

.del {
    text-align: center;
}

.editar {
    background-color: #34b15e;
}

.editar:hover {
    background-color: #2c944e;
}