body {
    background: rgb(167, 167, 167);
}
#container {
    width: 80%;
    height: 700px;
    border: solid 2px #262626;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    padding: 6px 10px;
    color: whitesmoke;
}

.editar {
    background-color: rgb(44, 151, 44);
}
.editar:hover {
    background-color: rgb(159, 196, 27);
}

.delete:hover {
    background-color: rgb(196, 36, 36);
}

.delete {
    background-color: brown;
}

.post {
    width: 70%;
    padding: 15px;
    border: solid 2px black;
    box-sizing: border-box;
    background-color: rgb(228, 227, 226);
    margin: 10px auto;
}

h2 a {
    color: #262626;
}

div h1 {
    text-align: center;
}